torch==2.6.0
torchaudio==2.6.0
transformers==4.46.3
diffusers==0.29.0
accelerate==1.7.0
huggingface-hub==0.32.4
s3tokenizer==0.1.7
uvicorn==0.34.3
fastapi==0.115.12
python-multipart==0.0.20
resampy==0.4.3
scipy==1.15.3
soundfile==0.13.1
einops==0.8.1
omegaconf==2.3.0
peft==0.15.2
soxr==0.5.0.post1
